@import "./var/var";

@font-face {
    font-family: "iconfont";
    font-display: $--font-display;
    src: url('#{$--font-path}/iconfont.eot?t=1622022483025'); /* IE9 */
    src: url('#{$--font-path}/iconfont.eot?t=1622022483025#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$--font-path}/iconfont.woff2?t=1622022483025') format('woff2'),
    url('#{$--font-path}/iconfont.woff?t=1622022483025') format('woff'),
    url('#{$--font-path}/iconfont.ttf?t=1622022483025') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('#{$--font-path}/iconfont.svg?t=1622022483025#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="#{$namespace}-icon-"], [class*=" #{$namespace}-icon-"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-error:before {
  content: "\e651";
}

.#{$namespace}-icon-success:before {
  content: "\e66b";
}

.#{$namespace}-icon-info:before {
  content: "\e674";
}

.#{$namespace}-icon-riqi:before {
  content: "\e609";
}

.#{$namespace}-icon-jian:before {
  content: "\e60c";
}

.#{$namespace}-icon-d-arrow-left:before {
    content: "\e610";
}

.#{$namespace}-icon-d-arrow-right:before {
    content: "\e611";
}

.#{$namespace}-icon-more:before {
    content: "\e612";
}

.#{$namespace}-icon-arrow-left:before {
    content: "\e613";
}

.#{$namespace}-icon-arrow-right:before {
    content: "\e616";
}

.#{$namespace}-icon-subway:before {
    content: "\e6cf";
}

.#{$namespace}-icon-mall:before {
    content: "\e713";
}

.#{$namespace}-icon-toilet:before {
    content: "\e714";
}

.#{$namespace}-icon-park:before {
    content: "\e715";
}

.#{$namespace}-icon-island:before {
    content: "\e716";
}

.#{$namespace}-icon-gas-station:before {
    content: "\e717";
}

.#{$namespace}-icon-scenic-spots:before {
    content: "\e718";
}

.#{$namespace}-icon-science:before {
    content: "\e719";
}

.#{$namespace}-icon-hotel:before {
    content: "\e71a";
}

.#{$namespace}-icon-customs:before {
    content: "\e71b";
}

.#{$namespace}-icon-architecture:before {
    content: "\e71c";
}

.#{$namespace}-icon-training-agency:before {
    content: "\e71d";
}

.#{$namespace}-icon-motor-station:before {
    content: "\e71e";
}

.#{$namespace}-icon-toll-station:before {
    content: "\e71f";
}

.#{$namespace}-icon-passageway:before {
    content: "\e720";
}

.#{$namespace}-icon-well-lid:before {
    content: "\e721";
}

.#{$namespace}-icon-gate:before {
    content: "\e722";
}

.#{$namespace}-icon-service-area:before {
    content: "\e723";
}

.#{$namespace}-icon-bus-station:before {
    content: "\e724";
}

.#{$namespace}-icon-road:before {
    content: "\e725";
}

.#{$namespace}-icon-company:before {
    content: "\e726";
}

.#{$namespace}-icon-service-life:before {
    content: "\e727";
}

.#{$namespace}-icon-shopping-cart:before {
    content: "\e728";
}

.#{$namespace}-icon-monitor-low:before {
    content: "\e729";
}

.#{$namespace}-icon-car:before {
    content: "\e6d8";
}

.#{$namespace}-icon-wharf:before {
    content: "\e6e4";
}

.#{$namespace}-icon-culture:before {
    content: "\e6e5";
}

.#{$namespace}-icon-pharmacy:before {
    content: "\e6e6";
}

.#{$namespace}-icon-rail-way:before {
    content: "\e6e9";
}

.#{$namespace}-icon-sport-area:before {
    content: "\e6ee";
}

.#{$namespace}-icon-monitor:before {
    content: "\e6ef";
}

.#{$namespace}-icon-recreation:before {
    content: "\e6f4";
}

.#{$namespace}-icon-village-city:before {
    content: "\e6f9";
}

.#{$namespace}-icon-goverment:before {
    content: "\e703";
}

.#{$namespace}-icon-5G:before {
    content: "\e705";
}

.#{$namespace}-icon-school:before {
    content: "\e707";
}

.#{$namespace}-icon-parking-lots:before {
    content: "\e70f";
}

.#{$namespace}-icon-restaurant:before {
    content: "\e710";
}

.#{$namespace}-icon-hospital:before {
    content: "\e711";
}

.#{$namespace}-icon-charge-station:before {
    content: "\e712";
}

.#{$namespace}-icon-packup:before {
    content: "\e68e";
}

.#{$namespace}-icon-monitor2:before {
    content: "\e691";
}

.#{$namespace}-icon-in-build:before {
    content: "\e693";
}

.#{$namespace}-icon-switchover:before {
    content: "\e6b0";
}

.#{$namespace}-icon-used-menu:before {
    content: "\e6b1";
}

.#{$namespace}-icon-3D:before {
    content: "\e6b3";
}

.#{$namespace}-icon-m-roam:before {
    content: "\e6c7";
}

.#{$namespace}-icon-m-indoor:before {
    content: "\e6c8";
}

.#{$namespace}-icon-m-street:before {
    content: "\e6c9";
}

.#{$namespace}-icon-m-light:before {
    content: "\e6ca";
}

.#{$namespace}-icon-m-fireworks:before {
    content: "\e6cb";
}

.#{$namespace}-icon-demo:before {
    content: "\e6f3";
}

.#{$namespace}-icon-fire-safety:before {
    content: "\e6fb";
}

.#{$namespace}-icon-jiuyuanzhihui:before {
    content: "\e6fc";
}

.#{$namespace}-icon-path:before {
    content: "\e6fd";
}

.#{$namespace}-icon-UVA:before {
    content: "\e6fe";
}

.#{$namespace}-icon-fire-extinguisher:before {
    content: "\e6ff";
}

.#{$namespace}-icon-uploading:before {
    content: "\e700";
}

.#{$namespace}-icon-group:before {
    content: "\e702";
}

.#{$namespace}-icon-forbid:before {
    content: "\e708";
}

.#{$namespace}-icon-hazardous-goods:before {
    content: "\e709";
}

.#{$namespace}-icon-archive:before {
    content: "\e70a";
}

.#{$namespace}-icon-full-screen:before {
    content: "\e6e0";
}

.#{$namespace}-icon-add:before {
    content: "\e626";
}

.#{$namespace}-icon-warning:before {
    content: "\e695";
}

.#{$namespace}-icon-triangle:before {
    content: "\e69e";
}

.#{$namespace}-icon-mark:before {
    content: "\e6ab";
}

.#{$namespace}-icon-arrow-top:before {
    content: "\e6ac";
}

.#{$namespace}-icon-map_style:before {
    content: "\e6da";
}

.#{$namespace}-icon-deep-search:before {
    content: "\e6e3";
}

.#{$namespace}-icon-relation-graph:before {
    content: "\e6e8";
}

.#{$namespace}-icon-j-cockpit:before {
    content: "\e67e";
}

.#{$namespace}-icon-j-data:before {
    content: "\e67f";
}

.#{$namespace}-icon-j-cloud:before {
    content: "\e680";
}

.#{$namespace}-icon-j-city:before {
    content: "\e681";
}

.#{$namespace}-icon-j-innovate:before {
    content: "\e6a1";
}

.#{$namespace}-icon-j-school:before {
    content: "\e6a3";
}

.#{$namespace}-icon-j-safeness:before {
    content: "\e6a4";
}

.#{$namespace}-icon-j-online:before {
    content: "\e6a5";
}

.#{$namespace}-icon-j-classroom:before {
    content: "\e6a6";
}

.#{$namespace}-icon-j-integration:before {
    content: "\e6a7";
}

.#{$namespace}-icon-j-space:before {
    content: "\e6a8";
}

.#{$namespace}-icon-set:before {
    content: "\e6f0";
}

.#{$namespace}-icon-clean:before {
    content: "\e6f1";
}

.#{$namespace}-icon-restoration:before {
    content: "\e6f5";
}

.#{$namespace}-icon-exit2:before {
    content: "\e6f6";
}

.#{$namespace}-icon-measure-high:before {
    content: "\e6f7";
}

.#{$namespace}-icon-photograph:before {
    content: "\e6f8";
}

.#{$namespace}-icon-coursor:before {
    content: "\e6fa";
}

.#{$namespace}-icon-walk:before {
    content: "\e6f2";
}

.#{$namespace}-icon-t-govern:before {
    content: "\e6b7";
}

.#{$namespace}-icon-t-video:before {
    content: "\e6b8";
}

.#{$namespace}-icon-t-partybuildiing:before {
    content: "\e6b9";
}

.#{$namespace}-icon-t-cityinspector:before {
    content: "\e6ba";
}

.#{$namespace}-icon-t-land:before {
    content: "\e6bb";
}

.#{$namespace}-icon-t-grid:before {
    content: "\e6bc";
}

.#{$namespace}-icon-t-industry:before {
    content: "\e6bd";
}

.#{$namespace}-icon-t-contentunion:before {
    content: "\e6be";
}

.#{$namespace}-icon-t-citytarget:before {
    content: "\e6bf";
}

.#{$namespace}-icon-t-traffic:before {
    content: "\e6c0";
}

.#{$namespace}-icon-t-safety:before {
    content: "\e6c1";
}

.#{$namespace}-icon-t-housing:before {
    content: "\e6c2";
}

.#{$namespace}-icon-t-epidemic:before {
    content: "\e6c3";
}

.#{$namespace}-icon-t-space:before {
    content: "\e6c4";
}

.#{$namespace}-icon-t-business:before {
    content: "\e6c5";
}

.#{$namespace}-icon-measure-site:before {
    content: "\e6cc";
}

.#{$namespace}-icon-measure-distance:before {
    content: "\e6cd";
}

.#{$namespace}-icon-measure-area:before {
    content: "\e6ce";
}

.#{$namespace}-icon-measure-crosswise:before {
    content: "\e6d0";
}

.#{$namespace}-icon-measure-vertical:before {
    content: "\e6d1";
}

.#{$namespace}-icon-sect-body:before {
    content: "\e6d2";
}

.#{$namespace}-icon-section:before {
    content: "\e6d3";
}

.#{$namespace}-icon-draw-edit:before {
    content: "\e6d5";
}

.#{$namespace}-icon-toolmark:before {
    content: "\e6d6";
}

.#{$namespace}-icon-tool-measure:before {
    content: "\e6d7";
}

.#{$namespace}-icon-lable-text:before {
    content: "\e6d9";
}

.#{$namespace}-icon-lable-site:before {
    content: "\e6db";
}

.#{$namespace}-icon-tool-time:before {
    content: "\e6dc";
}

.#{$namespace}-icon-lable-line:before {
    content: "\e6dd";
}

.#{$namespace}-icon-deep-line:before {
    content: "\e6de";
}

.#{$namespace}-icon-point-choose:before {
    content: "\e6df";
}

.#{$namespace}-icon-deep-box:before {
    content: "\e6e1";
}

.#{$namespace}-icon-area-draw:before {
    content: "\e6e2";
}

.#{$namespace}-icon-eraser:before {
    content: "\e6ed";
}

.#{$namespace}-icon-brush:before {
    content: "\e70b";
}

.#{$namespace}-icon-Pic-download:before {
    content: "\e70c";
}

.#{$namespace}-icon-tool-draw:before {
    content: "\e70d";
}

.#{$namespace}-icon-title-recover:before {
    content: "\e701";
}

.#{$namespace}-icon-refresh:before {
    content: "\e628";
}

.#{$namespace}-icon-close:before {
    content: "\e67b";
}

.#{$namespace}-icon-return:before {
    content: "\e67c";
}

.#{$namespace}-icon-delete1:before {
    content: "\e6eb";
}

.#{$namespace}-icon-check:before {
    content: "\e675";
}

.#{$namespace}-icon-login-password:before {
    content: "\e676";
}

.#{$namespace}-icon-checked:before {
    content: "\e677";
}

.#{$namespace}-icon-login-user:before {
    content: "\e678";
}

.#{$namespace}-icon-search-record:before {
    content: "\e679";
}

.#{$namespace}-icon-delete2:before {
    content: "\e67a";
}

.#{$namespace}-icon-lock:before {
    content: "\e6e7";
}

.#{$namespace}-icon-eye-invisible:before {
    content: "\e6ea";
}

.#{$namespace}-icon-eye-visible:before {
    content: "\e6ec";
}

.#{$namespace}-icon-search:before {
    content: "\e67d";
}

.#{$namespace}-icon-address:before {
    content: "\e68c";
}

.#{$namespace}-icon-exit1:before {
    content: "\e6a0";
}

.#{$namespace}-icon-home:before {
    content: "\e6c6";
}

.#{$namespace}-icon-title-style:before {
    content: "\e70e";
}

.#{$namespace}-icon-icongroup-toolkit:before {
    content: "\e6b2";
}

.#{$namespace}-icon-scene:before {
    content: "\e6b6";
}

.#{$namespace}-icon-special-map:before {
    content: "\e6d4";
}

.#{$namespace}-icon-icongruop-event:before {
    content: "\e704";
}

.#{$namespace}-icon-icongroup-model:before {
    content: "\e706";
}

.#{$namespace}-icon-j-building:before {
    content: "\e682";
}

.#{$namespace}-icon-j-NB-IOT:before {
    content: "\e683";
}

.#{$namespace}-icon-j-house:before {
    content: "\e684";
}

.#{$namespace}-icon-j-goverment:before {
    content: "\e685";
}

.#{$namespace}-icon-j-evevt:before {
    content: "\e686";
}

.#{$namespace}-icon-j-land:before {
    content: "\e687";
}

.#{$namespace}-icon-j-company:before {
    content: "\e688";
}

.#{$namespace}-icon-j-people:before {
    content: "\e68a";
}

.#{$namespace}-icon-j-car:before {
    content: "\e689";
}

