.demo-chart {
  height: 300px;
  background-color: #081113;
}
.demo-chart-white {
  background-color: #FFFFFF;
}
#bar3,
#bar4,
#bar6,
#bar7,
#bar9,
#bar10,
#bar11,
#bar12,
#pie3,
#pie4,
#pie5,
#pie6 {
  width: 50%;
  float: left;
}