// 红色
$color-red1: #26080a;
$color-red2: #470e12;
$color-red3: #801a20;
$color-red4: #b3242d;
$color-red5: #cc333d;
$color-red6: #dd555d;
$color-red7: #ff6670;
$color-red8: #f27981;
$color-red9: #ffbfc3;
$color-red10: #ffbfc3;

$redList: $color-red1, $color-red2, $color-red3, $color-red4, $color-red5,
  $color-red6, $color-red7, $color-red8, $color-red9, $color-red10;
// 黄色
$color-yellow1: #261704;
$color-yellow2: #402606;
$color-yellow3: #804f13;
$color-yellow4: #bf7a26;
$color-yellow5: #f2a03d;
$color-yellow6: #f1ac58;
$color-yellow7: #f5b86e;
$color-yellow8: #fac789;
$color-yellow9: #ffddb2;
$color-yellow10: #fff4e5;

$yellowList: $color-yellow1, $color-yellow2, $color-yellow3, $color-yellow4,
  $color-yellow5, $color-yellow6, $color-yellow7, $color-yellow8, $color-yellow9,
  $color-yellow10;
// 绿色
$color-green1: #031f08;
$color-green2: #05330d;
$color-green3: #0d591a;
$color-green4: #1c8c2f;
$color-green5: #36b34a;
$color-green6: #52c865;
$color-green7: #5ee675;
$color-green8: #85f297;
$color-green9: #affabd;
$color-green10: #d6ffdd;

$greenList: $color-green1, $color-green2, $color-green3, $color-green4,
  $color-green5, $color-green6, $color-green7, $color-green8, $color-green9,
  $color-green10;
// 青绿色
$color-teal1: #031a18;
$color-teal2: #074240;
$color-teal3: #0b736f;
$color-teal4: #0f9994;
$color-teal5: #1aada8;
$color-teal6: #4bc6c1;
$color-teal7: #34d9d3;
$color-teal8: #67e6e1;
$color-teal9: #a2faf7;
$color-teal10: #e0fffe;

$tealList: $color-teal1, $color-teal2, $color-teal3, $color-teal4, $color-teal5,
  $color-teal6, $color-teal7, $color-teal8, $color-teal9, $color-teal10;
// 明青色
$color-cyan1: #03161a;
$color-cyan2: #052b33;
$color-cyan3: #0a5766;
$color-cyan4: #0f8299;
$color-cyan5: #14adcc;
$color-cyan6: #00d5ff;
$color-cyan7: #40dfff;
$color-cyan8: #7feaff;
$color-cyan9: #bff4ff;
$color-cyan10: #e5fbff;

$cyanList: $color-cyan1, $color-cyan2, $color-cyan3, $color-cyan4, $color-cyan5,
  $color-cyan6, $color-cyan7, $color-cyan8, $color-cyan9, $color-cyan10;
// 蓝色
$color-blue1: #041526;
$color-blue2: #093159;
$color-blue3: #0e4d8c;
$color-blue4: #1262b3;
$color-blue5: #1677d9;
$color-blue6: #1987f7;
$color-blue7: #3194f7;
$color-blue8: #57a7f7;
$color-blue9: #7dbbfa;
$color-blue10: #bfdfff;

$blueList: $color-blue1, $color-blue2, $color-blue3, $color-blue4, $color-blue5,
  $color-blue6, $color-blue7, $color-blue8, $color-blue9, $color-blue10;
// 蓝紫色
$color-blue-purple1: #050c26;
$color-blue-purple2: #0b184d;
$color-blue-purple3: #152d8c;
$color-blue-purple4: #1d3ec2;
$color-blue-purple5: #3553cc;
$color-blue-purple6: #4466f4;
$color-blue-purple7: #627ff5;
$color-blue-purple8: #96aafa;
$color-blue-purple9: #ccd6ff;
$color-blue-purple10: #e5ebff;

$blue-purpleList: $color-blue-purple1, $color-blue-purple2, $color-blue-purple3,
  $color-blue-purple4, $color-blue-purple5, $color-blue-purple6,
  $color-blue-purple7, $color-blue-purple8, $color-blue-purple9,
  $color-blue-purple10;
// 黑灰色
$color-black-gray1: #1b2426;
$color-black-gray2: #2d3436;
$color-black-gray3: #464d4e;
$color-black-gray4: #5e6465;
$color-black-gray5: #777c7d;
$color-black-gray6: #909495;
$color-black-gray7: #a9acad;
$color-black-gray8: #c1c3c4;
$color-black-gray9: #dadcdc;
$color-black-gray10: #ffffff;

$black-grayList: $color-black-gray1, $color-black-gray2, $color-black-gray3,
  $color-black-gray4, $color-black-gray5, $color-black-gray6, $color-black-gray7,
  $color-black-gray8, $color-black-gray9, $color-black-gray10;
